<div id="top"></div>
<!-- <app-cross-fade></app-cross-fade> -->
<section>
    <div class="background-image">
        <div class="banner">
            <p class="banner-header">HET AMSTERDAMSCH LITTERAIR CAFE</p>
            <div class="banner-content"
                fxLayout>
                <!-- <img src="'./../../../assets/images/uithangbord3.svg" alt=""> -->
                <div class="capital">D</div>
                <div class="non-capital">E</div>
                <div class="capital">E</div>
                <div class="non-capital">NGELBEWAARDER</div>
            </div>
        </div>
    </div>

    <div class="page-content">

        <div class="openingstijden"
            fxLayout="column"
            fxLayoutAlign="center center">
            @if(uiStore.selectedLanguage() === 'en') {
            <div class="introduction">
                Café De Engelbewaarder is located on the raised ground floor of a historic building on the Kloveniersburgwal in Amsterdam's city center. Established in 1971, it is a classic Amsterdam "brown café" featuring a canal-side terrace, 18 beers on tap, a rotating menu of lunch, snack, and dinner options, and a pinball machine. Live jazz sessions take place every Sunday afternoon, and a new photography exhibition is hosted once every three months.
            </div>

            } @else {
            <div class="introduction">
                Café De Engelbewaarder zit op de beletage van een monumentaal pand aan de Kloveniersburgwal in het centrum van Amsterdam. Het café (sinds 1971) is een klassiek Amsterdams bruin café met terras aan de gracht en 18 bieren op tap, een wisselende lunch- snack- en dinerkaart én een flipperkast. Elke zondagmiddag is er een live jazz session en 1x in de drie maanden een nieuwe foto expositie.
            </div>
            }
            <div class="tijden">
                <div class="openingHours">
                    <div class="opening-hours-weekdays">
                        @if(uiStore.selectedLanguage() === 'nl') {
                        Het café is iedere dag open van
                        }
                        @if(uiStore.selectedLanguage() === 'en') {
                        Our cafe is opened daily from
                        }
                        {{companyStore.timeWeekdayOpen()}}&nbsp;{{uiStore.selectedLanguage() === 'nl' ?'tot':'until'}}&nbsp;
                        {{companyStore.timeWeekdayClosed()}}
                    </div>
                    <div class="opening-hours-weekend">
                        @if(uiStore.selectedLanguage() === 'nl') {
                        Op vrijdag en zaterdag van
                        }
                        @if(uiStore.selectedLanguage() === 'en') {
                        On Fridays and Saturdays from
                        }
                        {{companyStore.timeWeekendOpen()}}&nbsp;{{uiStore.selectedLanguage() === 'nl' ?'tot':'until'}}&nbsp;
                        {{companyStore.timeWeekendClosed()}}
                    </div>
                </div>
            </div>
            <div class="reserveren">

                @if(uiStore.selectedLanguage() === 'nl') {
                <p>Als u binnen wilt eten kunt u reserveren.</p>
                }
                @if(uiStore.selectedLanguage() === 'en') {
                <p>For reservations please call</p>
                }
                <p class="tel-paragraph">
                    <a class="tel-link"
                        [href]="'tel:' + companyStore.telephone() ">{{companyStore.telephone()}}</a>

                </p>
                @if(uiStore.selectedLanguage() === 'nl') {
                <p>Het is niet mogelijk om op het terras te reserveren maar er is vast wel een plekje te
                    vinden. Hopelijk tot snel!
                </p>
                }
                @if(uiStore.selectedLanguage() === 'en') {
                <p>
                    It's not possible to make
                    resevations for terrace seats. Hope to see you soon!
                </p>
                }

            </div>


        </div>

        <div class="menu">
            <ul>
                @for(item of navListItems; track item) {
                <li>
                    <a [routerLink]="['/', { outlets: { primary: item.english } }]">
                        @if(uiStore.selectedLanguage() === 'nl') {
                        {{item.dutch}}
                        }
                        @if(uiStore.selectedLanguage() === 'en') {
                        {{item.english}}
                        }
                    </a>
                </li>
                }
            </ul>
        </div>

    </div>
</section>
