form {
    width: 90vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    h3 {
        color: var(--eb-orange);
    }
    mat-checkbox {
        background-color: white;
        padding: 0.7rem;
        margin-bottom: 1rem;
    }
    .buttons {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
}
