<mat-toolbar>

    <ul class="left">

        <li class="list-item-menu">
            <mat-icon (click)="onToggleSidenav()">menu</mat-icon>
        </li>
        <li routerLink="home"
            class="list-item-home">
            <mat-icon>home</mat-icon>
        </li>


    </ul>

    <ul class="right">
        @if(authStore.isLoggedIn()){
        <li>V1</li>
        @for(item of adminNavListItems; track item) {
        <li class="admin-list-item">
            <a [routerLink]="item.english"
                routerLinkActive="link-active">
                @if(uiStore.selectedLanguage() === 'nl') {
                {{item.dutch}}
                }
                @if(uiStore.selectedLanguage() === 'en') {
                {{item.english}}
                }
            </a>
        </li>
        }
        }

        @for(item of navListItems; track item) {
        <li>
            <a [routerLink]="item.english"
                routerLinkActive="link-active">
                @if(uiStore.selectedLanguage() === 'nl') {
                {{item.dutch}}
                }
                @if(uiStore.selectedLanguage() === 'en') {
                {{item.english}}
                }
            </a>
        </li>

        }
        <!-- <li class="vacatures"
            [class.link-active]="vacaturesActive"
            mat-button
            [matMenuTriggerFor]="menu">
            Vacatures

            <mat-menu #menu="matMenu">
                <button mat-menu-item
                    style="background-color: var(--eb-orange); color: var(--eb-blue); font-size: 1.2rem; border:2px solid var(--eb-blue)"
                    routerLink="/apply">FORMULIER</button>
                <button mat-menu-item
                    style="
                    background-color: var(--eb-orange);
                    color: var(--eb-blue);
                    border-bottom:2px solid var(--eb-blue);
                    border-left:2px solid var(--eb-blue);
                    border-right:2px solid var(--eb-blue);"
                    routerLink="/cook">VACATURE KOK</button>

            </mat-menu>
        </li> -->

        <li class="vacatures"
            [class.link-active]="vacaturesActive"
            mat-button
            [matMenuTriggerFor]="menu">
            Vacatures

            <mat-menu #menu="matMenu">
                <button mat-menu-item
                    routerLink="/apply">FORMULIER</button>
                <!-- <button mat-menu-item
                    routerLink="/cook">VACATURE KOK</button> -->

            </mat-menu>
        </li>



        <app-select-language></app-select-language>

        @if(!authStore.isLoggedIn()) {
        <mat-icon routerLink="login">login</mat-icon>
        }
        @if(authStore.isLoggedIn()) {
        <mat-icon (click)="authStore.logout()">logout</mat-icon>
        }
    </ul>
</mat-toolbar>
