<main class="component">
    <p>

        Wij hebben een vacature voor een
    </p>
    <h1>
        zelfstandig werkende kok
    </h1>
    <p>

        voor de zaterdagen en zondagen.
    </p>
    <p>

        Heb jij zin en tijd om ons gezellige keukenteam te komen versterken?
    </p>
    <p>

        Bij interesse neem dan contact op met Mirjam
    </p>
    <p>

        <a href="mailto:cafedeengelbewaarder@gmail.com">cafedeengelbewaarder&#64;gmail.com</a>
    </p>
    <!-- cafedeengelbewaarder&#64;gmail.com. -->
    <p>

        Graag tot ziens!!
    </p>
    <p class="close"
        routerLink="/home">
        <mat-icon>close</mat-icon>
    </p>
</main>
