<mat-sidenav-container>
    <mat-sidenav #sidenav
        role="navigation">
        <app-sidenav style="color: white;"
            (closeSidenav)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div #header>
            @if(!uiStore.imageSliderActive()) {
            <app-header (sidenavToggle)="sidenav.toggle()"
                #header></app-header>
            }
        </div>
        <main>
            @if(uiStore.showBanner()){
            <app-banner></app-banner>
            }
            <!-- <app-loading *ngIf="loadingService.loading$"></app-loading> -->

            <div class="router-container"
                [style.minHeight]="routerMinHeight + 'px'"
                #routerContainer>
                <router-outlet></router-outlet>
            </div>
            @if(!uiStore.imageSliderActive()){
            <div class="footer-container"
                #footerContainer>

                <app-footer></app-footer>
            </div>
            }
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
