<div class="wrap">
    <ul>
        <li class="img-01"><img src="images/carousel/tap_lola_860x531.webp"
                alt="">
        </li>
        <li class="img-02"><img src="images/carousel/tap_rechts_860x532.webp"
                alt="">
        </li>
        <li class="img-03"><img src="images/carousel/tap_lola_860x531.webp"
                alt="">
        </li>
        <li class="img-04"><img src="images/carousel/tap_rechts_860x532.webp"
                alt="">
        </li>
    </ul>
</div>
