.beer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    min-height: 4rem;
    padding: 0.5rem;
    background-color: var(--eb-blue);
    border: 3px solid var(--eb-orange);
    color: var(--eb-bright-orange);
    border-radius: 3px;
    // max-width: 300px;
    .visitor {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        .visitor-left {
            align-items: center;
            display: flex;
            gap: 1rem;
            .info {
                font-size: 1.5rem;
            }
        }
        .price {
            display: flex;
            justify-self: end;
            align-items: center;
        }
    }
    .admin {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .buttons {
            display: flex;
            gap: 1rem;
        }
    }
}
