/* You can add global styles to this file, and also import other style files */
@use "./styles/variables";
@use "./styles/mixins";
@use "./styles/engelbewaarder";

html,
body {
    height: 100vh;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
    letter-spacing: 1.1px;
}
.mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 5px;
}
.mat-mdc-menu-content {
    background-color: var(--eb-blue);
    display: flex;
    flex-direction: column;
    gap: 3px;
    button {
        background-color: var(--eb-blue);
        color: var(--eb-bright-orange);
        border: 2px solid var(--eb-bright-orange);
    }
    button:hover {
        background-color: var(--eb-bright-orange) !important;
        // background-color: red !important;
        color: var(--eb-blue) !important;
    }
}
